<a href="https://colab.research.google.com/github/pi-aire/dataminig_sampling/blob/main/TP_DataMining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ã‰chantillonnage direct de l'espace des motifs

### BRUNEAU Richard - VASLIN Pierre

In [61]:
import numpy as np
import math
import matplotlib
import pandas as pd
import random

In [ ]:
# Le dataframe
df = pd.read_table("https://bitbucket.org/anesbendimerad/sigibbssamplingcode/raw/6699a50508fe177ee0c00dcc7d8e5390ee53688a/ItemsetDatasets/chess.txt", sep=" ",header=None)
del df[37]
df.head()

   0   1   2   3   4   5   6   7   8   ...  28  29  30  31  32  33  34  35  36
0   1   3   5   7   9  11  13  15  17  ...  58  60  62  64  66  68  70  72  74
1   1   3   5   7   9  12  13  15  17  ...  58  60  62  64  66  68  70  72  74
2   1   3   5   7   9  12  13  16  17  ...  58  60  62  64  66  68  70  72  74
3   1   3   5   7   9  11  13  15  17  ...  58  60  62  64  66  68  70  72  74
4   1   3   5   7   9  11  13  15  17  ...  58  60  62  64  66  68  70  72  74

[5 rows x 37 columns]

## Question 1

In [104]:
def algoFrequences(df:pd.DataFrame)-> tuple:
  R:set = set()
  P: dict = dict()
  w = np.zeros(df[0].count())
  nb_pattern = len(df.iloc[0])
  totalW = 0
  # on set le poid pour chaque ligne
  for i in range(len(w)):
    totalW += math.pow(2,len(df.iloc[i]))
  
  # set les probas
  w[0] = 0
  for i in range(1,len(w)):
    w[i] = (math.pow(2,len(df.iloc[i])) / totalW ) + w[i-1]
  
  # on selectionne 
  while len(R) < nb_pattern:
    random_row = random.random()
    # On cherche la ligne
    row = 0
    for j in range(len(w)):
      if (w[i]> random_row):
        row = i - 1
        break
    # On selctionne un motif 
    pattern = df.iloc[row,random.randint(0,len(df.iloc[row])-1)]
    R.add(pattern)
  for value in R:
    P[value] = len(df[df.isin([value])].stack())/df[0].count()
  return R,P

On calcule le poids total de toutes les lignes dans un premier temps afin de diviser le poids des lignes dans le tableau.

In [ ]:
algoFrequences(df)

## Question 2

##Question 3